# broker service binary
broker-service/brokerApp

# frontend binary
front-end/frontApp

# auth binary
authentication-service/authApp

# logger binary
logger-service/loggerApp

# mailer binary
mail-service/mailerApp

*.code-workspace

project/db-data